.button-toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-toggle-theme:hover {
  filter: brightness(0.9);
}
