.primary-button {
  background-color: var(--primary);
  color: var(--white);
  font-size: var(--font-4xl);
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 0.5625rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.primary-button:hover {
  filter: brightness(1.1);
}
