<div class="box-form-group">
  <label for="{{ label }}" *ngIf="label">{{ label }}</label>
  <div class="box-input-password">
    <input
      type="text"
      class="input-form"
      [placeholder]="placeholder || ''"
      [title]="label || 'Campo para digitar'"
      [id]="label || 'random'"
      [type]="newType"
      [required]="required"
      [formControl]="control"
    />
    <button
      type="button"
      class="btn-toggle-type-password"
      *ngIf="isPassword"
      (click)="togglePasswordType()"
    >
      <app-eye />
    </button>
  </div>
  <ng-container *ngIf="control.invalid && submitted">
    <div *ngFor="let err of control.errors | keyvalue">
      <p class="error-message">
        {{ errorMessages[err.key] }}
      </p>
    </div>
  </ng-container>
</div>
